// Variable assignments
// Breakpoints
@mobile: (max-width: 400px);
@tablet: (max-width: 600px);
@desktop: (max-width: 1440px);

// Colors
@link-gray: #cccccc;
@cyan: hsl(180, 66%, 49%);
@dark-violet: hsl(257, 27%, 26%);
@red: hsl(0, 87%, 67%);
@other-gray: hsl(0, 0%, 75%);
@grayish-violet: hsl(257, 7%, 63%);
@very-dark-blue: hsl(255, 11%, 22%);
@very-dark-violet: hsl(260, 8%, 14%);

// Mixins
// .shortly-button {
//   color: white;
//   background-color: @cyan;
//   border: none;
//   border-radius: 100px;
//   padding: 0.5rem 2rem;
//   font-family: 'Poppins', sans-serif;
//   font-size: 1rem;
// }

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.App {
  max-width: 1440px;
  width: 80%;
  margin: auto;

  @media @mobile {
    max-width: 375px;
  }
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}

button {
  color: white;
  background-color: @cyan;
  border: none;
  border-radius: 100px;
  padding: 0.5rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  h2 {
    display: inline;
    color: black;
  }
  a {
    padding: 0 1rem;
    color: @link-gray;
    &:hover {
      color: black;
    }
  }
  .nav-link {
    display: inline;
    @media @mobile {
      display: none;
    }
  }
  .hamburger {
    @media @mobile {
      width: 35px;
      height: 5px;
      background-color: @other-gray;
      margin: 0.5rem;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 8rem;

  @media @mobile {
    flex-direction: column;
    .image {
      order: -1;
    }
  }
}

.full-width-main {
  margin: 0 -9999rem;
  padding: 0 9999rem;
  padding-bottom: 2rem;
}

main {
  background-color: #f0f1f6;
  padding: 8rem 0 2rem;

  .desktop-line {
    position: absolute;

    @media @mobile {
      display: none;
    }
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .link-shortener {
    position: relative;
    top: -3rem;
    padding: 2rem;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-color: @very-dark-violet;
    z-index: 1;
    border-radius: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media @mobile {
      flex-direction: column;
    }

    .input-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        width: 90%;
        border-radius: 0.5rem;
        padding: 0.75rem;
        margin-top: 0.75rem;

        &:focus {
          outline: none;
        }

        @media @mobile {
          width: 90%;
          margin: 0 auto 1rem;
        }
      }
      p {
        padding: 0;
        margin: 0;
        color: red;
        font-size: 0.75rem;
        text-align: left;
      }
    }
    button {
      width: 20%;
      border-radius: 0.5rem;
      margin-top: 0.75rem;

      @media @mobile {
        width: 80%;
        margin: 0 auto;
      }
    }
  }

  .cards-wrapper {
    display: flex;
    padding: 2rem;

    @media @mobile {
      flex-direction: column;
    }

    .card {
      position: relative;
      max-width: 30%;
      background-color: white;
      padding: 0 2rem;
      margin: 0 1rem;

      img {
        position: relative;
        top: -1rem;
        padding: 1rem;
        background-color: @dark-violet;
        border-radius: 100%;
      }

      h4 {
        margin-top: 0;
      }

      p {
        text-align: left;
      }
    }
    .card-1 {
      top: -1rem;
    }
    .card-3 {
      top: 1rem;
    }
  }
}
.saved-link {
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.25rem;

  .action-items {
    display: flex;
    align-items: center;
  }
}

.full-width-footer {
  margin: 0 -9999rem;
  padding: 0 9999rem;
}

.full-width-nav {
  margin: 0 -9999rem;
  padding: 2rem 9999rem;
}

footer {
  background-image: url('../images/bg-shorten-desktop.svg');
  background-color: @very-dark-violet;
  .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    h3 {
      margin: 0;
      margin-bottom: 1rem;
      color: white;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    h2 {
      color: white;
      margin: 0;
    }
    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      h5 {
        font-size: 1rem;
        color: white;
        margin: 0;
      }
      a {
        padding: 0.25rem 0;
      }
    }
    .social-icons {
      display: flex;
      justify-content: space-between;
    }

    @media @mobile {
      flex-direction: column;
    }
  }
}
