// Variable assignments
// Breakpoints
@mobile: (max-width: 400px);
@tablet: (max-width: 600px);
@desktop: (max-width: 1440px);

// Colors
@link-gray: #cccccc;
@cyan: hsl(180, 66%, 49%);
@active-cyan: #9ce2e1;
@dark-violet: hsl(257, 27%, 26%);
@red: hsl(0, 87%, 67%);
@other-gray: hsl(0, 0%, 75%);
@grayish-violet: hsl(257, 7%, 63%);
@very-dark-blue: hsl(255, 11%, 22%);
@very-dark-violet: hsl(260, 8%, 14%);

// Mixins
// .shortly-button {
//   color: white;
//   background-color: @cyan;
//   border: none;
//   border-radius: 100px;
//   padding: 0.5rem 2rem;
//   font-family: 'Poppins', sans-serif;
//   font-size: 1rem;
// }

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.App {
  max-width: 1440px;
  width: 60%;
  margin: auto;
  margin-top: 3rem;

  @media @mobile {
    max-width: 375px;
  }
}

a {
  text-decoration: none;
}

button {
  color: white;
  background-color: @cyan;
  border: none;
  border-radius: 100px;
  padding: 0.5rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;

  &:active {
    background-color: @active-cyan;
  }

  &:focus {
    outline: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  h2 {
    display: inline;
    color: black;
    font-size: 2rem;
  }
  a {
    padding: 0 1rem;
    color: @link-gray;
    font-size: 0.9rem;
    font-weight: bold;
    &:hover {
      color: black;
    }
  }
  .nav-link {
    display: inline;
    @media @mobile {
      display: none;
    }
  }
  .hamburger {
    @media @mobile {
      width: 35px;
      height: 5px;
      background-color: @other-gray;
      margin: 0.5rem;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;

  @media @mobile {
    flex-direction: column;
  }

  h1 {
    font-size: 5rem;
    font-weight: bold;
    min-width: 40rem;
    line-height: 6rem;
    margin-bottom: 0;

    @media @mobile {
      min-width: 100%;
    }
  }

  p {
    margin: 0;
    font-size: 1.5rem;
    color: @grayish-violet;
  }

  .image {
    position: relative;
    left: 5rem;
    @media @mobile {
      order: -1;
    }
  }

  button {
    font-size: 1.25rem;
    padding: 0.75rem 2.5rem;
    margin-top: 1rem;
    margin-left: 0.25rem;
  }
}

.full-width-main {
  margin: 0 -9999rem;
  padding: 0 9999rem;
  padding-bottom: 2rem;
  margin-top: 10rem;
}

main {
  background-color: #f0f1f6;
  padding: 8rem 0 2rem;

  .desktop-line {
    position: absolute;

    @media @mobile {
      display: none;
    }
  }

  h3 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
  }

  p {
    margin: 0 auto;
    text-align: center;
    width: 65%;
    color: @link-gray;
  }

  .link-shortener {
    position: relative;
    top: -5rem;
    width: 92%;
    padding: 2.5rem;
    padding-top: 3rem;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-color: @dark-violet;
    z-index: 1;
    border-radius: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media @mobile {
      flex-direction: column;
    }

    .input-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        width: 90%;
        border-radius: 0.5rem;
        padding: 0.75rem 0;
        padding-left: 2rem;
        height: 2rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.25rem;

        &:focus {
          outline: none;
        }

        @media @mobile {
          width: 90%;
          margin: 0 auto 1rem;
        }
      }
      p {
        padding: 0;
        margin: 0;
        color: red;
        font-size: 0.75rem;
        text-align: left;
        color: @grayish-violet;
      }
    }
    button {
      width: 20%;
      border-radius: 0.5rem;
      padding: 1rem 0;
      // height: 2rem;

      @media @mobile {
        width: 80%;
        margin: 0 auto;
      }
    }
  }

  .cards-wrapper {
    display: flex;
    padding: 4rem 0;

    @media @mobile {
      flex-direction: column;
    }

    .card {
      position: relative;
      height: 20rem;
      background-color: white;
      padding: 0 2rem;
      margin: 0 1rem;

      img {
        position: relative;
        top: -2rem;
        padding: 1rem;
        background-color: @dark-violet;
        border-radius: 100%;
      }

      h4 {
        margin: 0 auto;
      }

      p {
        display: inline;
        text-align: left;
        font-size: 1rem;
      }
    }
    .card-1 {
      top: -2rem;
    }
    .card-3 {
      top: 2rem;
    }
  }
}

.saved-links-container {
  margin-top: -4rem;
}

.saved-link {
  margin: 1rem auto;

  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.25rem;

  p {
    margin: 0;
    color: black;
    text-align: left;
    max-width: 50%;
  }

  .action-items {
    display: flex;
    align-items: center;

    a {
      color: @cyan;
      padding-right: 0.5rem;
    }

    button {
      position: relative;
      margin-left: 1rem;
      border-radius: 0.5rem;
      width: 8rem;
    }
  }
}

.full-width-footer {
  margin: 0 -9999rem;
  padding: 0 9999rem;
  background-image: url('../images/bg-boost-desktop.svg');
  background-color: @dark-violet;
  background-size: 2415px 230px;
}

.full-width-nav {
  margin: 0 -9999rem;
  padding: 4rem 9999rem;
}

footer {
  .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;

    h3 {
      margin: 0;
      color: white;
      font-size: 2.5rem;
    }

    button {
      margin-top: 1rem;
      padding: 1rem 3rem;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    h2 {
      color: white;
      margin: 0;
    }
    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      h5 {
        font-size: 1rem;
        color: white;
        margin: 0;
      }
      a {
        padding: 0.25rem 0;
      }
    }
    .social-icons {
      display: flex;
      justify-content: space-between;
    }

    @media @mobile {
      flex-direction: column;
    }
  }
}
