body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
.App {
  max-width: 1440px;
  width: 80%;
  margin: auto;
}
@media (max-width: 400px) {
  .App {
    max-width: 375px;
  }
}
h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
a {
  text-decoration: none;
}
button {
  color: white;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 100px;
  padding: 0.5rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
button:active {
  background-color: #9ce2e1;
}
button:focus {
  outline: none;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav h2 {
  display: inline;
  color: black;
}
nav a {
  padding: 0 1rem;
  color: #cccccc;
}
nav a:hover {
  color: black;
}
nav .nav-link {
  display: inline;
}
@media (max-width: 400px) {
  nav .nav-link {
    display: none;
  }
}
@media (max-width: 400px) {
  nav .hamburger {
    width: 35px;
    height: 5px;
    background-color: hsl(0, 0%, 75%);
    margin: 0.5rem;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 8rem;
}
@media (max-width: 400px) {
  header {
    flex-direction: column;
  }
  header .image {
    order: -1;
  }
}
.full-width-main {
  margin: 0 -9999rem;
  padding: 0 9999rem;
  padding-bottom: 2rem;
}
main {
  background-color: #f0f1f6;
  padding: 8rem 0 2rem;
}
main .desktop-line {
  position: absolute;
}
@media (max-width: 400px) {
  main .desktop-line {
    display: none;
  }
}
main h3 {
  text-align: center;
}
main p {
  text-align: center;
}
main .link-shortener {
  position: relative;
  top: -3rem;
  padding: 2rem;
  background-image: url('../images/bg-shorten-desktop.svg');
  background-color: hsl(260, 8%, 14%);
  z-index: 1;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 400px) {
  main .link-shortener {
    flex-direction: column;
  }
}
main .link-shortener .input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .link-shortener .input-container input {
  width: 90%;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-top: 0.75rem;
}
main .link-shortener .input-container input:focus {
  outline: none;
}
@media (max-width: 400px) {
  main .link-shortener .input-container input {
    width: 90%;
    margin: 0 auto 1rem;
  }
}
main .link-shortener .input-container p {
  padding: 0;
  margin: 0;
  color: red;
  font-size: 0.75rem;
  text-align: left;
}
main .link-shortener button {
  width: 20%;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
}
@media (max-width: 400px) {
  main .link-shortener button {
    width: 80%;
    margin: 0 auto;
  }
}
main .cards-wrapper {
  display: flex;
  padding: 2rem;
}
@media (max-width: 400px) {
  main .cards-wrapper {
    flex-direction: column;
  }
}
main .cards-wrapper .card {
  position: relative;
  max-width: 30%;
  background-color: white;
  padding: 0 2rem;
  margin: 0 1rem;
}
main .cards-wrapper .card img {
  position: relative;
  top: -1rem;
  padding: 1rem;
  background-color: hsl(257, 27%, 26%);
  border-radius: 100%;
}
main .cards-wrapper .card h4 {
  margin-top: 0;
}
main .cards-wrapper .card p {
  text-align: left;
}
main .cards-wrapper .card-1 {
  top: -1rem;
}
main .cards-wrapper .card-3 {
  top: 1rem;
}
.saved-link {
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.25rem;
}
.saved-link .action-items {
  display: flex;
  align-items: center;
}
.saved-link .action-items a {
  color: hsl(180, 66%, 49%);
  padding-right: 0.5rem;
}
.saved-link .action-items button {
  position: relative;
  margin-left: 1rem;
  border-radius: 0.5rem;
  width: 8rem;
}
.full-width-footer {
  margin: 0 -9999rem;
  padding: 0 9999rem;
}
.full-width-nav {
  margin: 0 -9999rem;
  padding: 2rem 9999rem;
}
footer {
  background-image: url('../images/bg-shorten-desktop.svg');
  background-color: hsl(260, 8%, 14%);
}
footer .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
footer .call-to-action h3 {
  margin: 0;
  margin-bottom: 1rem;
  color: white;
}
footer nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 2rem;
}
footer nav h2 {
  color: white;
  margin: 0;
}
footer nav .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
footer nav .column h5 {
  font-size: 1rem;
  color: white;
  margin: 0;
}
footer nav .column a {
  padding: 0.25rem 0;
}
footer nav .social-icons {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 400px) {
  footer nav {
    flex-direction: column;
  }
}
